/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// body {
//   font-family: Arial, sans-serif;
//   // line-height: 1.6;
//   color: #333;
//   background-color: #f9f9f9;
// }

/* Header Styles */

.header {
  background-color: #07077b;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  padding-left: 10px;
  margin-right: 20px;
}

.logo a {
  text-decoration: none;
  color: goldenrod;
}

// .logo svg {
//   fill: #fff;
// }

.nav-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  display: none; /* Hide nav toggle on desktop view */
}

.nav-toggle:focus {
  outline: none;
}

.hamburger {
  display: none; /* Hide hamburger image on desktop view */
}

.hamburger.active svg {
  stroke: goldenrod;
}

.hamburger img {
  width: 24px;
  height: 24px;
  // vertical-align: middle;
}

/* Nav Styles */

.nav {
  color: goldenrod;
  padding: 1em;
  display: flex;
  // flex-direction: column;
  align-items: flex-end; /* Align nav contents to the right */
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end; /* Align nav list items to the right */
}

.nav-list li {
  margin-bottom: 1em;
  padding: 10px;
}

.nav-list a {
  text-decoration: none;
  color: goldenrod;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.nav-list a:hover {
  color: goldenrod;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: inline-block;
}

.dropdown-menu {
  background-color: #bbb;
  padding: 1em;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.dropdown-menu.show {
  transform: scaleY(1);
}

.dropdown-menu li {
  margin-bottom: 1em;
}

.dropdown-menu a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.dropdown-menu a:hover {
  color: #ccc;
}

.bgShop {
  background-image: url("./assets/images/bg-shop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.bgShop article {
  width: 80%;
  margin: auto;
  color: #ffdd57;
  padding: 20px;
  border-radius: 10px;
}

.bgShop h1 {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
}

.bgShop p {
  margin-top: 20px;
  font-size: 1.4rem;
}

main {
  width: 100%;
}

.bundles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  width: 75%;
  margin: 30px auto;
  align-items: stretch;
}

.bundles div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.bundles img {
  object-fit: cover;
  width: 100%;
  height: 380px;
}

.bundles article {
  margin-top: 10px;
}

.bundles article p {
  margin-top: 0;
  font-size: 1rem;
}

.bundles .price,
.bundles button {
  margin-left: auto;
  margin-top: 0;
}

.ownConsole {
  background-image: url("./assets/images/shop-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px;
}

.ownConsole article {
  max-width: 90%;
  margin: auto;
  color: #063874ad;
  margin-top: 20px;
}

.ownConsole h1 {
  font-size: 2.8rem;
  word-spacing: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: inline-block;
}

.ownConsole p {
  font-size: 1.4rem;
}

.monogramCases {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  width: 75%;
  color: #063874ad;
  margin: 0 auto;
  margin-bottom: 50px;
}

.monogramCases article {
  button {
    color: #fff;
    background-color: #063874ad;
  }
  span {
    color: #063874ad;
  }
}

.monogramCases div {
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.monogramCases img {
  width: 100%;
  height: 300px;
  transition: transform 0.3s ease;
}

.monogramCases img:hover {
  transform: scale(1.05);
}

.monogramCases .header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.monogramCases h1 {
  font-size: 1rem;
  text-transform: uppercase;
  align-items: flex-start;
  width: auto;
}

.monogramCases button,
.bundles button {
  width: 40%;
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.monogramCases button:hover {
  background-color: #555;
}

.monogramCases .price {
  font-size: 0.7rem;
  color: #333;
}

footer {
  width: 100%;
  background-color: #07077b;
  padding: 30px 10%;
  color: rgba(42, 36, 4, 0.274);
  box-sizing: border-box;
}

footer section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer article {
  color: goldenrod;
  flex: 1 1 calc(20% - 20px);
  margin: 10px 0;
  box-sizing: border-box;
}

footer h1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer p,
footer a {
  margin: 5px 0;
  color: #ffdd57;
  text-decoration: none;
  display: block;
}

footer a:hover {
  text-decoration: underline;
}

.subscribe input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subscribe button {
  padding: 8px 16px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.subscribe button:hover {
  background-color: #555;
}

.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.icons img:hover {
  transform: scale(1.1);
}

/* Responsive styles */
@media (max-width: 1200px) {
  .bgShop h1 {
    font-size: 2rem;
  }
  
  .bgShop p {
    font-size: 1.2rem;
  }

  .monogramCases {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    margin: 0 auto;
    width: 90%;
  }

  footer section {
    flex-wrap: wrap;
  }

  footer article {
    flex: 1 1 calc(45% - 20px);
  }
}

@media (max-width: 830px) {
  .bgShop h1 {
    font-size: 1.5rem;
  }
  
  .bgShop p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none; /* Hide nav on smaller screens */
  }
  .hamburger img {
    display: block;
    margin-left: auto; /* Move hamburger to the right side */
  }

  .nav-toggle {
    display: block; /* Show nav toggle on smaller screens */
  }

  .nav-toggle:focus + .nav {
    display: block; /* Show nav when nav toggle is focused */
  }

  .nav-list {
    flex-direction: column; /* Make nav list items stack vertically */
  }

  .nav-list li {
    margin-right: 0; /* Remove margin right from nav list items */
    padding: 10px 20px; /* Add padding to nav list items */
  }
}

@media (max-width: 600px) {
  .ownConsole h1 {
    font-size: 2rem;
  }

  .monogramCases {
    grid-template-columns: 1fr;
  }
}
